@media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    
    nav ul li {
      margin: 0.5em;
    }
    
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    
    .img1, .img2, .img3, .img4 {
      max-width: 90%;
      padding: 20px;
      align-content: center;

    }
    
    section {
      padding: 1em;
    }
    
    section h2, p {
      padding: 20px;
    }
    
    .carousel {
      margin: 10px;
    }
  }
  