nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-top: 1em;
    margin-left: auto;
}

.logo {
    margin-right: auto;
    height: 100%;
}

.images {
    max-width: 90%;
    max-height: 50vh;
    margin: 20px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    justify-self: center;
    margin: 1em;
    height: fit-content;
    /* background-color: #F4f3f5; */

}

button {
    display: block;
    margin: 0 auto;
    min-height: 30px;
    min-width: 120px;
    background-color: white;
    border: none;
    /* border-radius: 10px; */
    margin-bottom: 30px;
    font-weight: bold;
}

/* button:hover {
    box-shadow: 5px 5px 5px 0px #89747D;
} */

section h2,
p {
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.img1,
.img2,
.img3,
.img4 {
    max-width: 350px;
    padding: 40px;
}

.introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
}

/* .movie {
    margin-top: 20px;
} */


.bestsellers {
    width: 20%;
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}


footer {
    background-color: #F7dfea;
    text-align: center;
    margin: 0 auto;
}

.cart-container {
    display: flex;
    align-items: center;
}

#cart-dialog h1 {
    text-align: center;
    margin: 0;
}

#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.cart-item-image {
    max-width: 250px;
    margin-right: 1em;
    padding: 20px;
}

.cart-item-name {
    font-size: 1.5em;
}

.cart-item-price {
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px;
    z-index: 999;
}

.introimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.introimg img {
    max-width: 80%;
    margin: none;
}